@import "../global.scss";

a {
  cursor: pointer;
  padding: 0 0.2in;
}

nav {
  @extend %display-flex-row;
  padding: 0 10%;
}

p {
  font-weight: bold;
}

.nav-primary {
  @extend %display-flex-row;
  justify-content: space-between;
  .nav-one{
    @extend %display-flex-row;
    flex: 1 ;
  }
  a {
    p {
      color: $secondary-blue;
      transition: 0.3s;
    }
  }

  a:hover {
    p {
      color: $primary-blue;
    }
  }
  .about-button{
    @extend %display-flex-row;
  }

  .contact-button{
    @extend %display-flex-row;
  }

  .profile-button{
    @extend %display-flex-row;
  }

  .about {
    border-right: solid rgb(238, 238, 238) 3px;
  }

  .logo {
    flex: 1;
    cursor: pointer;

    svg {
      width: 150px;
    }
  }

  .user-name {
    flex: 2;
    text-align: right;
  }
}

.nav-secondary {
  background-color: $primary-blue;

  a {
    p {
      color: white;
    }
    transition: 0.3s;
  }

  a:hover {
    background-color: $secondary-blue;
  }
}