@import "@/styles/global.scss";

a {
  cursor: pointer;
  padding: 0 0.2in;
}

nav {
  @extend %display-flex-row;

}

p {
  font-weight: bold;
}

.content {
  padding: 15px;

  .nav-primary {
    a {
      p {
        color: $secondary-blue;
      }
    }

    a:hover {
      p {
        color: $primary-blue;
      }
    }


    .help-button {
      border-right: solid lightgrey 2px;
      @extend %display-flex-column;
      p{
        margin: 0;
      }
    }

    .logo {
      flex: 2;
      text-align: center;
      cursor: pointer;

      svg {
        width: 125px;
      }
    }

    .account-button {
      border-left: solid lightgrey 2px;
      @extend %display-flex-column;
      p{
        margin: 0;
      }
      .user-name {
        text-align: right;

      }
    }
  }
}


.nav-secondary {
  @extend %display-flex-row;
  justify-content: space-between;
  background-color: $primary-blue;

  a {
    p {
      color: white;
    }
  }

  a:hover {
    background-color: $secondary-blue;
  }
}