@import "@/styles/global.scss";

.mobile-content {
  max-width: 100%;
  height: fit-content;
  padding: 20px;
  ul{
    list-style-type: none;
    border: 1px solid $secondary-blue;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    .divider{
      width: 100%;
      border-top: 1px solid $secondary-blue;
    }
    button{
      width: 100%;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-weight: bold;
      color: $secondary-blue;
      transition: 0.2s;
    }
    button:hover{
      background-color: $secondary-blue;
      color: white;
    }
  }

  .mobile-content-cards{
    .mobile-content-cards-new{
      text-align: center;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      max-width: 100%;
      height: fit-content;
      padding: 15px;
      transition: 0.2s;
    }
    .mobile-content-cards-new:hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 15px;
    }
  }
}