@import '@/styles/global.scss';

a {
  cursor: pointer;
}

.content {
  padding: 0 10%;

  .filter {
    @extend %display-flex-row;
    justify-content: flex-end;
    width: 100%;

    nav {
      border: solid 1px $secondary-blue;
      border-radius: 10px;
      overflow: hidden;
      width: fit-content;
      margin: 50px 0 50px 0;

      p {
        padding: 0.1in;
        margin: 0;
      }

      a {
        padding: 0.1in;
        transition: 0.3s;

        p {
          display: inline-block;
          color: $secondary-blue;
          font-weight: bolder;
          transition: 0.3s;
        }
      }

      a:hover {
        background-color: $secondary-blue;

        p {
          color: white;
        }
      }
    }
  }

  .cards {
    @extend %display-flex-row;
    flex-wrap: wrap;

    .card-add {
      width: 260px;
      height: 450px;
      padding: 20px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @extend %display-flex-column;
      justify-content: center;
      margin: 20px;
      cursor: pointer;
      transition: 0.2s;
    }

    .card-add:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 15px;
    }
  }
}